{% extends 'ai_blog_app/templates/base.html' %}
{% block content %}

<!-- Main -->
<div class="flex-grow container mt-5 w-50" style="transition: transform 0.3s, box-shadow 0.3s;" onmouseover="this.style.transform = 'scale(1.1)';" onmouseout="this.style.transform = 'scale(1)'; this.style.boxShadow = 'none';">
    <div class="p-4 text-dark bg-white rounded-3 shadow">
        <h2>Успешный сброс пароля</h2>

        <p>Мы отправили вам по электронной почте инструкции по установке пароля, если у вас есть учетная запись, указав указанный вами адрес электронной почты. Вы должны получить их в ближайшее время.</p>

        <p>Если вы не получили электронное письмо, пожалуйста, убедитесь, что вы указали адрес, на который указывали при регистрации, и проверьте папку со спамом.</p>

    </div>
</div>
{% endblock %}
